.add__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.add__currency {
  display: flex;
  align-items: center;
  color: #fff;
  transition: 1s;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}